
@model PlaceFinder.Models.Place

<div class="place">

    <div class="row">
        <div class="col-md-6 place-col">
            <h4 class="pi-name">@Model.name</h4>
            <div class="pi-address">@Model.formatted_address</div>
            <div class="pi-phone">Phone : @Model.formatted_phone_number</div>
            <div class="pi-rating">Rating : @Model.rating</div>
            <div class="pi-types">
                @foreach (var type in @Model.types)
                {
                    <span class="pi-type badge badge-primary">@type.text</span>
                }
            </div>
        </div>

        <div class="col-md-6">
            <ul class="pi-hours">
                <b>Hours</b>
                @foreach (var hour in @Model.hours)
                {
                    <li class="hour">@hour.text</li>
                }
            </ul>
        </div>

    </div>

    <div class="row reviews-row">
        <div class="col-md-6 reviews-col">
            <form class="form-inline add-review-form" data-placeid="@Model._id">
                <div class="form-group mx-sm-3">
                    <input type="text" class="form-control review-inp" placeholder="Add review...">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col-md-6 reviews-col">
            <b>Reviews</b>
            <ul class="reviews">
                @foreach (var review in @Model.reviews)
                {
                    <li class="review">
                        <span class="r-name">@review.name</span>
                        <span class="r-date">@review.created_at</span>
                        <div class="r-content">@review.text</div>
                    </li>
                }
            </ul>
        </div>
        
    </div>

</div>

<hr>