
@model PlaceFinder.Models.Place

<div class="place">
    <div>@Model.name</div>

    <div>@Model.formatted_phone_number</div>

    <div>@Model.types</div>

    <div>@Model.hours</div>

    <div>@Model.photos</div>

</div>